{% extends 'Base.html' %}
{% block mainpage %}
<div class="pagetitle">
  <h1>Drive Monitoring - Google Drive SML</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Drive Monitoring</a></li>
      <li class="breadcrumb-item active">Google Drive SML</li>
    </ol>
  </nav>
</div>
<section class="section dashboard">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-12">
          <div class="card reports">
            <div class="filter"> <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">Last 3 days</a></li>
                <li><a class="dropdown-item" href="#">Last week</a></li>
              </ul>
            </div>
            <div class="card-body">
              <h5 class="card-title">PJB Box Table of Contents <span>/ Today</span></h5>
              <div id="reportsChart" style="min-height: 400px; max-height: 70vh;">
                <div class="text-center mt-4">Belum tersedia</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock mainpage %}